div {
    border: 1px solid black;
    box-sizing: border-box;
}
#container {
    width: 800px;
    margin: 0 auto;
}
#header {
    height: 100px;
    background-color: azure;
}
#main {
    height: 500px;
}
#main-layer1 {
    width: 20%;
    height: inherit;
    background-color: mediumaquamarine;
    float: left;
}
#main-layer2 {
    width: 80%;
    height: inherit;
    background-color: gold;
    float: left;
}
#footer {
    height: 100px;
    background-color: pink;
}
