#container {
    width: 650px;
    padding: 2px;
    margin: 0 auto;
}
#check {
    width: 640px;
    border: 1px solid #ccc;
}

h1 {
    color: white;
    background-color: black;
    font-size: 1em;
    margin: 0;
    padding: 10px;
    text-align: left;
}
h2 { 
    color: red; 
    font-size: 1.5em;
    text-align: center;
}
p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
}
span {color: blue}
