#container {
    background-image: url(../images/top.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 1px auto;      /* auto 중간정렬*/
    width: 570px;
    height: 390px;
}

h2 { color: red;}
span {color: blue}

table {width: 600px; margin: 5px auto;}
tr, th {
    border: 1px solid #ccc;
    padding: 10px;
}
#notice {
    text-align: center;
    padding-bottom: 10px;
}
#mention {
    color: white;
    background-color: black;
    text-align: left;
}