#container {
    width: 500px;
}
ul {
    list-style-type: none;
    line-height: 2;
    padding-left: 10px;
}
li label {
    text-align: left;
    width: 80px;
    float: left;
}
input[type=text], input[type=tel] {
    width: 300px;
}
input[type=submit], input[type=reset] {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
#button {
    width: 100%;
    text-align: center;
}