form {
    width: 500px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    padding-left: 10px;
    line-height: 2;
}
input[type=number] {
    width: 30px;
}
li label {
    width: 80px;
    text-align: left;
    float: left;
}
input[type=text] {
    width: 300px;
}
#button {
    width: 100%;
    text-align: center;
}
input[type=submit], input[type=reset] {
    width: 150px;
    height: 40px;
    margin-top: 20px;
}